body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0078d4;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el logo */
.logo img {
    max-width: 70px;
    height: auto;
}

/* Estilos para las secciones */
section {
    padding: 20px;
}

h2 {
    color: #0078d4;
}

/* Estilos para el footer */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}

#historia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.historia-image {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.historia-image img {
    max-width: 100%;
    height: auto;
}

.historia-text h2{
    text-align: center;
}

.historia-text {
    flex: 2;
    padding: 20px;
    text-align: justify;
}

/* Interfaces */ 
#interfaces {
    padding: 20px;
}

.imagen-texto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagen-con-texto {
    text-align: center;
    margin: 20px;
    flex: 1; /* Ocupa el 50% del espacio disponible en una fila */
    max-width: 500px; /* Ajusta el ancho máximo según sea necesario */
}

.imagen img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el título (h3) */
.imagen h3 {
    margin-top: 10px;
    font-size: 18px; /* Ajusta el tamaño del título según sea necesario */
}

.imagen p {
    margin-top: 10px;
    text-align: center;
}

#interfaces h2{
    text-align: center;
}

.justify{
    text-align: justify;
}

/* Section de diferencias */
#diferencias h2 {
    color: red;

}

#diferencias h3 {
    color: blue;
    text-align: right;
}

#diferencias ul {
    text-align: right;
    list-style: none;
}

.windows98, .windowsnt {
    margin-top: 60px;
}


/* Pagina de Features */
#caracteristicas h2{
    text-align: center;
    color:#ff681f; 
}

.fullscreen-image {
    width: 100%;
    height: 100vh; /* Establece la altura al 100% del viewport */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor manteniendo la relación de aspecto */
    margin: 0; /* Elimina los márgenes si los hubiera */
    padding: 0; /* Elimina el relleno si lo hubiera */
}

/* Estilos para el formulario de sugerencias */
#formulario-sugerencias {
    max-width: 500px;
    margin: 0 auto;
    padding: 70px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Agregamos esto para que el fondo se extienda por completo */
}

/* Estilos para el fondo del formulario */
#formulario-sugerencias:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f4; /* Usa el mismo color de fondo del formulario */
    z-index: -1;
}

/* Estilos para el contenido del formulario */
#formulario-sugerencias-content {
    position: relative; /* Necesario para que el z-index funcione */
}

#formulario-sugerencias h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

#formulario-sugerencias input[type="text"],
#formulario-sugerencias input[type="email"],
#formulario-sugerencias textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#formulario-sugerencias input[type="file"] {
    margin-top: 10px;
}

#formulario-sugerencias input[type="submit"] {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario-sugerencias input[type="submit"]:hover {
    background-color: #005ba2;
}

/* Estilos para el mensaje de confirmación (puedes mostrarlo después del envío) */
#confirmacion {
    margin-top: 20px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    display: none; /* Oculto por defecto, puedes mostrarlo con JavaScript después del envío */
}


/*Estilos para contacto*/
.squares-wrapper{
    display: flex;
    justify-content: center;
     }
    
.squares-wrapper > .squares{
     width: 1000px;
}
    
.squares-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}
    
.square > .img-wrapper img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
    
.square > .square-text-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 42px;
}
    
.square > .square-text-wrapper h1{
    color: #cea135;
}

/* Header section styles */

.header-section{
    background-image:url(img/cli-vs-gui.png);
    padding:100px;
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
    
.header-section > .top-heading{
    padding:1px 20px;
    background-color: #1018e9;
    color: #cbcbcb;
    width: 500px;
    border-radius: 2px;
}
    
.header-section> .bottom-heading{
    background-color: #cea135;
    color: #11122b;
    padding: 1px 20px;
    margin-top: 15px;
    width: 170px;
    border-radius: 2px;
}
    
/* Interface section styles */
    
    
.interface-section{
    height: 400px;
    background-image: url(../images/backgrounds/fries-multiply-bg.jpg);
    background-color: #cea135;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu Condensed", sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}
    
.interface-section> .columns-wrapper{
    width: 1250px;
    display: flex;
    justify-content: space-between;
}
    
.interface-section> .columns-wrapper> .column{
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.interface-section> .columns-wrapper> .column:hover{
    border-bottom: 5px solid #11122b;
}
    
.interface-section > .columns-wrapper> .column :nth-child(1){
    font-size: 3em;
}
    
.interface-section > .columns-wrapper > .column :nth-child(2){
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}
    
.interface-section > .columns-wrapper > .column :nth-child(2):hover{
    letter-spacing: 1px;
}
    
.interface-section > .columns-wrapper > .column :nth-child(3){
    letter-spacing: 2px;
}

/* Page container styles */
.page-container > .content-wrapper > .square {
    display: flex;
}

.page-container > .content-wrapper > .square p{
    margin-top: 50px;
}

.page-container{
    display: flex;
    justify-content: center;
}
    
.page-container > .content-wrapper {
    width: 1000px;
}
    
.page-container > .content-wrapper > .square > #cli-gui {
    width: 350px;
    margin: 25px;
    float: left;
    margin: 25px 40px 20px 0px;
    border: 1px solid #cea135;
}
    
.page-container > .content-wrapper p {
    letter-spacing: 1px;
    line-height: 30px;
}

